.dashboard {
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &__schedule {
        gap: 10px;
        display: flex;
        flex: 2;
    }
}